body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
h1, h2, h3{
    font-family: "Segoe UI", Arial, sans-serif;
}
.header {
    padding: 50px;
    text-align: center;
    background: #292b2a;
    color: red;
    font-size: 24px;
    width: 100vw;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100vw;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.about-me {
    padding: 10px;
    text-align: center;
    background: #ecf0f1;
    font-size: 30px;
}
h2 {
    font-size: 30px;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100vw;
    padding: 78px 0px;
    background-image: url("BGimage.jpg");
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text h2{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
span{
    color: orange;
}
.about-text p{
    color: gainsboro;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
footer{
    background: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform:  capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.myfam-text h1{
    font-size: 40px;
}